/* Desktop */
@media screen and (min-width: 1025px) {
    .mobile-header {
        display: none;
    }

    .show-on-tablet-mobile {
        display: none;
    }

    .show-on-mobile {
        display: none;
    }
}

/* Ipad Pro */
@media (max-width: 1024.98px) {
    .hide-on-mobile {
        display: none;
    }

    .header {
        padding-bottom: 0;
    }

    .header__inner {
        position: relative;
        border-bottom: 1px solid #d6d3e2;
        padding-bottom: 15.5px;
    }

    .header__logo-wrap {
        order: 1;
    }

    .header__logo {
        margin-left: 0;
    }

    .mail__inner {
        order: 2;
        margin-left: auto;
        margin-right: 10px;
    }

    .toggle-menu {
        order: 3;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 42px;
        height: 42px;
        border: 1px solid rgba(93, 59, 238, 0.2);
        border-radius: 50%;
    }

    .menu-overlay {
        position: fixed;
        inset: 0;
        z-index: 9999;
        background-color: rgba(0, 0, 0, 0.3);
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.5s ease, visibility 0.5s ease;
    }

    .menu-drawer {
        position: fixed;
        padding: 60px;
        inset: 0 0 0 50%;
        z-index: 99992;
        background-color: #fff;
        transform: translateX(100%);
        transition: transform 0.5s ease;
    }

    .menu-checkbox:checked ~ .menu-overlay {
        opacity: 1;
        visibility: visible;
    }

    .menu-checkbox:checked ~ .menu-drawer {
        transform: translateX(0);
    }

    .header__list {
        flex-direction: column;
        align-items: initial;
    }

    .header__item {
        display: block;
        margin-top: 20px;
    }
}

/* Tablet & Mobile */
@media screen and (max-width: 991.98px) {
    .hide-on-mobile {
        display: none;
    }

    .header {
        padding-bottom: 0;
    }

    .header__inner {
        position: relative;
        border-bottom: 1px solid #d6d3e2;
        padding-bottom: 15.5px;
    }

    .header__logo-wrap {
        order: 1;
    }

    .header__logo {
        margin-left: 0;
    }

    .mail__inner {
        order: 2;
        margin-left: auto;
        margin-right: 10px;
    }

    .toggle-menu {
        order: 3;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 42px;
        height: 42px;
        border: 1px solid rgba(93, 59, 238, 0.2);
        border-radius: 50%;
    }

    .menu-overlay {
        position: fixed;
        inset: 0;
        z-index: 9999;
        background-color: rgba(0, 0, 0, 0.3);
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.5s ease, visibility 0.5s ease;
    }

    .menu-drawer {
        position: fixed;
        padding: 60px;
        inset: 0 0 0 40%;
        z-index: 99992;
        background-color: #fff;
        transform: translateX(100%);
        transition: transform 0.5s ease;
    }

    .menu-checkbox:checked ~ .menu-overlay {
        opacity: 1;
        visibility: visible;
    }

    .menu-checkbox:checked ~ .menu-drawer {
        transform: translateX(0);
    }

    .header__list {
        flex-direction: column;
        align-items: initial;
    }

    .header__item {
        display: block;
        margin-top: 20px;
    }

    /* Hero */

    .hero {
        margin-top: 25.25px;
    }
    .hero__content {
        order: 1;
    }
    .hero__media {
        order: 2;
    }

    .hero__content {
        padding-top: 25.25px;
        padding-left: 20px;
    }

    .hero__media {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    /* Client */
    .client-list {
        margin-top: 42px;
        margin-left: 0;
    }

    .client__title {
        padding-left: 0;
        width: 177px;
        margin: 0 auto;
        color: var(--color-heading);
        font-size: 2.8rem;
        font-weight: 500;
        line-height: 1.21;
        text-align: center;
    }

    .client__title::before {
        width: 48px;
        top: -5px;
        left: 50%;
        transform: translateX(-50%);
    }

    .special__row {
        flex-wrap: nowrap;
        overflow: hidden;
    }

    .dots {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 15px;
        margin-top: 59px;
    }

    .dot {
        width: 16px;
        height: 16px;
        border-radius: 16px;
        background: rgba(8, 4, 21, 0.2);
        border: 1px solid transparent;
        transition: background-color 0.3s;
    }

    .dot:hover {
        background-color: var(--primary-color);
    }

    .dot-active {
        position: relative;
        background-color: transparent;
        border: 1px solid var(--primary-color);
    }
    .dot-active::after {
        position: absolute;
        content: "";
        top: 2px;
        left: 1.5px;
        width: 11px;
        height: 11px;
        background-color: var(--primary-color);
        border-radius: 50%;
    }

    /* project */
    .project__heading-wrap {
        display: flex;
        justify-content: center;
    }

    .project__heading {
        text-align: center;
    }

    .project__top-left {
        display: flex;
        justify-content: center;
        margin-left: 0;
        margin-top: 20px;
    }

    .project__desc {
        text-align: center;
    }

    .project__item-wrap {
        display: flex;
        justify-content: center;
    }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
    .show-on-mobile {
        display: none;
    }

    .hide-on-mobile {
        display: none;
    }

    .hero__media {
        height: 455px;
    }

    .hero__img-wrap {
        width: 359px;
        height: 455px;
    }
    .hero__decor-left {
        width: 643.709px;
        height: 502.145px;
        left: 14px;
        top: -47px;
    }

    .hero-decor-large {
        top: 330px;
    }

    /* Setup */
    .setup__row {
        flex-wrap: nowrap;
        overflow: hidden;
    }

    .setup__item {
        display: flex;
        justify-content: center;
    }
}

/* Mobile */
@media screen and (max-width: 767.98px) {
    .hide-on-mobile {
        display: none;
    }

    .header__logo-wrap {
        width: 37px;
        height: 44px;
    }

    .header__logo {
        width: 37px;
        height: 44px;
    }

    .mail-img {
        width: 16.696px;
        height: 11.13px;
    }

    .mail-img__wrap,
    .toggle-menu {
        width: 32px;
        height: 32px;
    }

    .menu-drawer {
        inset: 0 0 0 25%;
        padding: 20px;
    }

    /* Hero */
    .hero__img-wrap {
        width: 259px;
        height: 355px;
    }

    .hero__heading {
        width: 260px;
        font-size: 4.2rem;
        line-height: 5rem;
    }

    .hero__desc {
        width: 318px;
        line-height: 1.63;
    }

    .hero__actions {
        margin-top: 30px;
    }

    .hero__btn {
        width: 147px;
        height: 55px;
        font-size: 1.6rem;
    }

    .hero__link {
        font-size: 1.6rem;
        line-height: 1.88;
    }

    .hero-socials {
        margin-top: 25px;
    }

    .hero-socials__title {
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.43;
    }

    .hero__icon-inner {
        column-gap: 15px;
    }

    .hero__icon-wrap {
        width: 31px;
        height: 31px;
    }

    .hero__media {
        height: 355px;
    }

    /* Client */
    .client-list {
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 400px;
    }

    .client__icon {
        display: flex;
        justify-content: center;
    }

    .client-item {
        width: 100%;
        padding: 10px;
        display: flex;
        justify-content: center;
    }

    .client-item:nth-child(2) {
        margin-top: 0;
    }

    /* Special */
    .special {
        margin-top: 120px;
    }

    .special__heading {
        font-size: 3.6rem;
        line-height: 1.17;
    }

    .special__desc {
        width: 350px;
        font-size: 1.6rem;
        line-height: 1.63;
    }

    .special__img-wrap {
        width: 62px;
        height: 62px;
        margin-bottom: 30px;
    }

    .special__item-heading {
        font-size: 2.8rem;
        line-height: 1.29;
    }

    .special__item-desc {
        width: 250px;
        font-size: 1.6rem;
        line-height: 1.75;
        margin-top: 10px;
    }

    .project__heading {
        font-size: 3.6rem;
        line-height: 1.17;
    }

    .project__desc {
        width: 350px;
        font-size: 1.6rem;
        line-height: 1.63;
    }

    .project__list {
        justify-content: center;
    }

    .project__item {
        width: 350px;
        padding: 20px 15px;
    }

    .project__item-heading {
        width: 178px;
        font-size: 2.4rem;
        line-height: 1.41;
    }

    .project__item-desc {
        margin-top: 4px;
        width: 176px;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.43;
    }

    .project__item-link {
        margin-top: 4px;
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 1.75;
    }

    .project__item-right {
        margin-left: 22px;
    }

    .project__item-img {
        width: 122px;
        height: 93px;
    }

    .project__action {
        margin-top: 50px;
    }

    .project__btn {
        --height: 56px;

        min-width: 154px;
        font-size: 1.6rem;
    }

    /* Design */
    .design__info-text {
        font-size: 2rem;
        line-height: 2;
        margin-right: 4px;
    }

    .design__intro-img {
        width: 18px;
        height: 18px;
    }

    .design__heading {
        font-size: 3.6rem;
        line-height: 1.17;
    }

    .design__desc {
        width: 350px;
        font-size: 1.6rem;
        line-height: 1.63;
    }

    .design__stats {
        padding: 30px 0;
        column-gap: 50px;
        max-width: 350px;
    }

    .design__stats-number {
        font-size: 3rem;
        line-height: 1.4;
    }

    .design__stats-text {
        margin-top: 5px;
        width: 74px;
        font-size: 1.6rem;
        line-height: 1.38;
    }

    .design__media {
        margin: 40px auto 0;
        width: 350px;
        height: 276px;
    }

    .design__play-btn-wrap {
        width: 77px;
        height: 77px;
    }

    .design__intro {
        --height: 44px;
        max-width: 118px;
        font-size: 1.2rem;
    }

    .review__heading {
        font-size: 3.6rem;
        line-height: 1.17;
    }

    .review__desc {
        width: 350px;
        font-size: 1.6rem;
        line-height: 1.63;
    }

    .review__bottom {
        margin-top: 40px;
    }

    .review__quote {
        width: 351px;
        font-size: 1.8rem;
    }

    .review__people {
        margin-top: 48px;
    }

    .review__name {
        font-size: 2.4rem;
        line-height: 1.67;
    }

    .review__dots {
        margin-top: 20px;
    }

    /* Question */
    .question__heading {
        margin-left: 30px;
        width: 316px;
        font-size: 3.6rem;
        line-height: 1.17;
    }

    .question__list {
        align-items: center;
    }

    .question-item {
        align-items: initial;
        padding-bottom: 15px;
        width: 370px;
    }

    .question-item__info {
        margin-left: 10px;
    }

    .question-item__heading {
        width: 264px;
        font-size: 2.4rem;
    }

    .question-item__desc {
        width: 316px;
        font-size: 1.6rem;
        line-height: 1.63;
    }

    .question__label {
        width: 33px;
        height: 33px;
    }

    .question__label-sign {
        width: 30%;
    }

    .question__input:checked + .question-item .question-item__desc {
        max-height: 78px;
    }

    /* Setup */
    .setup {
        margin-top: 120px;
    }

    .setup__row {
        flex-wrap: nowrap;
        overflow: hidden;
    }

    .setup__item {
        display: flex;
        justify-content: center;
    }
    .setup__heading {
        font-size: 3.6rem;
        line-height: 1.17;
    }

    .setup__desc {
        width: 350px;
        font-size: 1.6rem;
        line-height: 1.63;
    }

    .setup__link {
        margin-top: 10px;
        font-size: 2rem;
        line-height: 2;
    }

    .setup__bottom {
        margin-top: 60px;
    }

    .setup__item-img {
        width: 352px;
        height: 503px;
    }

    .setup__dots {
        margin-top: 40px;
    }

    /* Contact */
    .contact {
        margin-top: 120px;
    }

    .contact__inner {
        padding: 36px 0;
    }

    .contact__img {
        width: 48px;
        height: 48px;
    }

    .contact__heading {
        margin-top: 10px;
        width: 230px;
        font-size: 3.6rem;
        line-height: 1.17;
        text-align: center;
    }

    .contact__desc {
        margin-top: 10px;
        width: 350px;
        font-size: 1.6rem;
        line-height: 1.63;
    }

    .contact__btn {
        --height: 55px;

        margin-top: 42px;
        width: 147px;
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 576px) {
    .hero-decor-large .decor {
        height: 53px;
    }

    .hero-decor-large .decor-1,
    .hero-decor-large .decor-2 {
        margin-bottom: 30px;
    }

    .hero-decor-large {
        top: 230px;
        left: 190px;
        width: 604px;
    }

    .dot-active::after {
        width: 10px;
        height: 10px;
        left: 2.5px;
    }
}
