*,
::before,
::after {
    box-sizing: border-box;
}

:root {
    --primary-color: #5d3bee;
    --color-desc: #51586a;
    --color-heading: #080415;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: "DM Sans", sans-serif;
    font-size: 1.6rem;
}

.container {
    padding: 0;
}

/* Common */
input,
textarea,
button,
select {
    font-family: inherit;
    font-size: inherit;
}

a {
    text-decoration: none;
}

.section-desc {
    color: #51586a;
    font-family: "DM Sans";
    font-size: 1.8rem;
    line-height: 1.67;
}

.btn {
    --height: 62px;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: var(--height);
    background: var(--primary-color);
    color: #fdfdfd;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: var(--height);
}

.btn:hover {
    opacity: 0.9;
}

/* Header */
.header {
    padding: 20px 0;
    background-color: #fff;
    box-shadow: 0 -14px -1px 10px #0a142f;
}

.fixed {
    position: -webkit-sticky;
    position: sticky;
    top: -20px;
    z-index: 999;
}

.header__content {
    width: 1330px;
    max-width: calc(100% - 40px);
    margin: 0 auto;
}

.header__inner {
    display: flex;
    align-items: center;
}

.mail__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

.mail-img__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 46px;
    border: 1px solid rgba(93, 59, 238, 0.2);
    border-radius: 50%;
}

.mail__link {
    color: #080415;
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 1.36; /* 136.364% */
}

.mail__link:hover {
    text-decoration: underline;
}

.header__logo {
    margin-left: 357px;
}

.navbar {
    margin-left: auto;
}

.header__list {
    display: flex;
    align-items: center;
}

.header__item {
    padding: 8px 21.5px;
    color: #51586a;
    font-size: 1.8rem;
    line-height: normal;
}

.header__item:hover {
    color: #191b21;
    text-shadow: 1px 0 0 #191b21;
}

/* Hero */
.hero {
    margin-top: 44px;
    overflow: hidden;
}

.hero__media {
    position: relative;
    z-index: 0;
    height: 705px;
}

.hero__img-wrap {
    position: relative;
    object-fit: contain;
    width: 514px;
    height: 705px;
}

.hero__img {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.decorators {
    position: absolute;
    inset: auto -21% 18% auto;
    z-index: -1;
    width: 930px;
    transform: rotate(124deg);
}

.hero-decor-large {
    inset: initial;
    top: 50%;
    left: 50%;
    translate: -58% -30%;
}

.decor {
    height: 81.4px;
    border-radius: 90px;
    background: #5d3bee1a;
}

.decor-1 {
    margin-bottom: 40px;
    margin-left: 15%;
    width: 37.3%;
}

.decor-2 {
    margin-bottom: 40px;
    width: 100%;
}

.decor-3 {
    width: 15%;
}

.decor-4 {
    margin-left: 3.6%;
    width: 40%;
}

.decor-wrap {
    display: flex;
    margin-left: 9%;
}

.hero__content {
    position: relative;
    padding-left: 55px;
    padding-top: 137px;
}

.hero__heading {
    width: 500px;
    color: var(--color-heading);
    font-size: 8rem;
    font-weight: 500;
    line-height: 7.6rem;
}

.hero__desc {
    margin-top: 20px;
    width: 370px;
}

.hero__actions {
    display: flex;
    align-items: center;
    column-gap: 30px;
    margin-top: 50px;
}

.hero__link {
    color: var(--color-heading);
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.67;
}

.hero__link:hover {
    text-decoration: underline;
}

.hero-socials {
    display: flex;
    align-items: center;
    margin-top: 104px;
}

.hero-socials__title {
    color: var(--color-desc);
    font-weight: 500;
    line-height: 1.88;
    margin-right: 15px;
}

.hero__icon-inner {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.hero__icon-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    border: 1px solid rgba(8, 4, 21, 0.1);
}

.hero__icon-wrap:hover {
    opacity: 0.6;
}

.hero__decor-right {
    position: absolute;
    bottom: -50px;
    right: -173px;
}
