*,
::before,
::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: "DM Sans", sans-serif;
    font-size: 1.6rem;
}

.container {
    padding: 0;
}

/* Common */
input,
textarea,
button,
select {
    font-family: inherit;
    font-size: inherit;
}

a {
    text-decoration: none;
}

/* Header */
.header {
    padding: 20px 0;
}

.fixed {
    position: -webkit-sticky;
    position: sticky;
    top: -20px;
    z-index: 999;
}

.header__content {
    width: 1330px;
    max-width: calc(100% - 40px);
    margin: 0 auto;
}

.header__inner {
    display: flex;
    align-items: center;
}

.mail__inner {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.mail-img__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 46px;
    border: 1px solid rgba(93, 59, 238, 0.2);
    border-radius: 50%;
}

.mail__link {
    color: #080415;
    font-family: "DM Sans";
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 1.36; /* 136.364% */
}

.mail__link:hover {
    text-decoration: underline;
}

.header__logo {
    margin-left: 357px;
}

.navbar {
    margin-left: auto;
}

.header__list {
    display: flex;
    align-items: center;
}

.header__item {
    padding: 8px 21.5px;
    color: #51586a;
    font-family: "DM Sans";
    font-size: 1.8rem;
    line-height: normal;
}

.header__item:hover {
    color: #191b21;
    text-shadow: 1px 0 0 #191b21;
}
